.layout {
  width: 100%;
  min-height: 100vh;
  .content {
    padding: 0 24px;
    .breadcrumb {
      margin-top: 16px;
    }
    .page {
      margin-top: 16px;
      padding: 10px;
      background-color: #fff;
      border-radius: 10px;
    }
  }
}
